<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688512555078-11i54vd8mmrpuobs3brv5j288j82tkq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688512555078-11i54vd8mmrpuobs3brv5j288j82tkq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBrad7zPUrkWUIJOfgnqgpSVbhwR77ybMk</string>
	<key>GCM_SENDER_ID</key>
	<string>688512555078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-47afe</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-47afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688512555078:ios:c7f0076a25524a9f20d247</string>
</dict>
</plist>